#i {
    font-size: 30px;
    color: green;
    margin-right: 10px;
}

#search {
    border: none;
    outline: none;
    padding: 5px 5px 5px 15px;
    border-radius: 7px;
}


.d-flex-justify-content-between {
    display: flex;
    justify-content: space-between;
}

.main-container h5 {
    color: green;
    font-weight: 700;
    font-size: 25px;
}

#new {
    border: none;
    background-color: green;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    margin-top: 10px;
}